-- ----------------------------------------------------------
-- READINGS LOCATION UPDATE FOR {{row['mac']}} ({{row['name']}})
-- ----------------------------------------------------------
.echo on
PRAGMA foreign_keys = OFF;
BEGIN TRANSACTION;
-- Updates -1 location_id in tess_readings_t table 
-- knowning that the current location given in tess_t is not -1
UPDATE tess_readings_t
SET location_id = {{ row['location_id'] }} 
WHERE location_id = -1 AND tess_id = {{ row['tess_id'] }};
COMMIT;
PRAGMA foreign_keys = ON;
