PRAGMA foreign_keys = OFF;
.echo on
BEGIN TRANSACTION;
{% for row in rows -%}
-- Updates Bad formatted MAC address from {{ row['mac'] }} to {{ row['good_mac'] }}
UPDATE tess_t SET mac_address = '{{row['good_mac']}}' WHERE mac_address = '{{ row['mac'] }}';
UPDATE name_to_mac_t SET mac_address = '{{row['good_mac']}}' WHERE mac_address = '{{ row['mac'] }}';
{% endfor -%}
COMMIT;
PRAGMA foreign_keys = ON;
