-- ----------------------
-- LOCATION UPDATING PART {{ row['name']}}
-- ----------------------
.echo on
BEGIN TRANSACTION;
-- Updates Location given by location_id = {{ row['location_id'] }}
UPDATE location_t
SET (longitude,latitude,elevation,timezone,place,town,sub_region,region,country,organization,contact_email) = 
({{row['longitude']}},{{row['latitude']}},{{row['masl']}},{{row['timezone']}},{{row['place']}},{{row['town']}},{{row['sub_region']}},{{row['region']}},{{row['country']}},{{row['org_name']}},{{row['org_email']}} )
WHERE location_id = {{ row['location_id'] }};
COMMIT;
