-- -----------------------------------
-- FIX ABSURD ZP FOR ESASY PHOTOMETERS
-- -----------------------------------
.echo on
PRAGMA foreign_keys = OFF;
BEGIN TRANSACTION;
{% for item in items -%}
{% for ctx in item.names -%}
-- {{ item.mac }} => {{ ctx.name }} {{ ctx.valid_since }} - {{ ctx.valid_until }}  ({{ ctx.valid_state }})
{% endfor -%}
{% for zp in item.old_zps -%}
UPDATE tess_t SET zp1 = {{ item.new_zp }} WHERE mac_address = '{{ item.mac }}' AND zp1 = {{ zp }};
{% endfor -%}
{% endfor -%}
COMMIT;
PRAGMA foreign_keys = ON;
